@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color:white;
    color: #fff;
}
h1{
    color: black;
    font-family: "Exo 2";
    font-weight: 400;
    text-align: center;
    font-size:50px;
}
p{
    color: black;
}
a{
    text-decoration: none;
}

.sidebar {
    width: 250px;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    color: #fdd028;
    margin-bottom: 20px;
    font-size: 24px;
}

.sidemenu{
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidemenu:hover {
    background-color: #fdd028;
    color: #000;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    display: none;
}

.sidebar ul li.active {
    display: block;
}

.sidebar ul a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.sidebar ul a:hover {
    background: #fdd028;
    color: black;
}

.sidebar a {
    cursor: pointer;
}
/*Fim do sidebar*/

.content {
    flex: 1;
    padding: 20px;
}

#cadastro{
    border: solid black 1px;
}

.employee-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
}

.employee-info img {
    width: 200px;
    align-items: center;
    height: 200px;
    margin-top: 20px;
    margin-left: 400px;
    border-radius: 50%;
    border: 5px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employee-info p {
    font-size: 18px;
    margin: 10px 0;
    margin-left: 10px;
}

.employee-info .details {
    max-width: 600px;
    width: 100%;
}

.placeholder {
    color: #888;
}