@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color:white;
    color: #fff;
}
h1{
    color: black;
    font-family: "Exo 2";
    font-weight: 400;
    text-align: center;
    font-size:50px;
}
/*Estilização dos links*/
a{
    text-decoration: none;
    cursor: pointer;
}

.sidebar {
    background-color: #000;
    color: white;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
} 

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding-left: 20px;
    display: none; 
}

.sidebar ul.active {
    display: block; 
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    color: white;
    font-size: 14px;
}

.sidebar ul li a:hover {
    color: black;
}

.sidemenu:hover {
    background-color: #fdd028;
    color: #000;
}

.logged-user {
    margin-top: auto; 
    text-align: center; 
    padding-top: 20px;
    border-top: 1px solid #444; 
}
/*Fim do sidebar*/

.content {
    flex: 1;
    padding: 20px;
}

#cadastro{
    border: solid black 1px;
}

.employee-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
}

.employee-info img {
    width: 200px;
    align-items: center;
    height: 200px;
    margin-top: 20px;
    margin-left: 400px;
    border-radius: 50%;
    border: 5px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employee-info p {
    font-size: 18px;
    margin: 10px 0;
    margin-left: 10px;
}

.employee-info .details {
    max-width: 600px;
    width: 100%;
}

.placeholder {
    color: #888;
}

#search-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#suggestions {
    position: absolute;
    top: 45px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}
td,th{
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
thead {
    background-color: #f4f4f4;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.no-results {
    text-align: center;
    font-size: 16px;
    color: red;
    font-weight: bold;
}
